**Q1. Create one variable containing following type of data:**

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
str_var = "ABC"
list_var = [1, "ABC", 3.14, True]
float_var = 3.14
tuple_var = (1, "ABC", 3.14, True)

**Q2. Given are some following variables containing data:**

(i) var1 = ‘ ‘ **String Type**

(ii) var2 = ‘[ DS , ML , Python]’  **String Type**

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  **List Type**

(iv) var4 = 1.  **Float Type**

**Q3. Explain the use of the following operators using an example:**

(i) /

(ii) %

(iii) //

(iv) **

In [2]:
# / This is the divison operator, calculates the quotient
3/2

1.5

In [3]:
# % This is the remainded opeartor, calculates the remainder
3%2

1

In [4]:
# // This is also divison operator. However it returns result only in the integral part
3//2

1

In [5]:
# ** This is exponent operator, Calculates the power of one number to another
2**3

8

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.**

In [6]:
arr = [1,2,3,True,False,3+2j,'A', "Hello",9.45,10]
len(arr)

10

In [40]:
for i in arr:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
True <class 'bool'>
False <class 'bool'>
(3+2j) <class 'complex'>
A <class 'str'>
Hello <class 'str'>
9.45 <class 'float'>
10 <class 'int'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.**

In [50]:
a = int(input("Enter 1st Number "))
b = int(input("Enter 2nd Number "))
if a%b==0:
    print(f"{a} is divisible by {b} for {a//b} times")

Enter 1st Number  10
Enter 2nd Number  2

10 is divisible by 2 for 5 times

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.**

In [51]:
arr = list(range(25))
for i in arr:
    if i%3==0:
        print(f"{i}  is divisible by 3")
    else:
        print("Not divisible")

0  is divisible by 3
Not divisible
Not divisible
3  is divisible by 3
Not divisible
Not divisible
6  is divisible by 3
Not divisible
Not divisible
9  is divisible by 3
Not divisible
Not divisible
12  is divisible by 3
Not divisible
Not divisible
15  is divisible by 3
Not divisible
Not divisible
18  is divisible by 3
Not divisible
Not divisible
21  is divisible by 3
Not divisible
Not divisible
24  is divisible by 3

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.**

**Answer**

1. Mutable : The datatypes which can be changed after assignment are called mutable. Eg-int, list, dictionary
2. Immutable : The datatypes which can not be changed after assignment. Eg-string, tuple

In [54]:
#Mutability->Here list items can be changed after assignment
a = [1,2,3]
print("Before changing = ",a)
a[0] = 10
print("After changing = ",a)

Before changing =  [1, 2, 3]
After changing =  [10, 2, 3]

In [55]:
#Immutability->Here tuple items can not be changed after assignment. Will throw an error if attempt to change
a = (1,2,3)
print("Before changing = ",a)
a[0] = 10
print("After changing = ",a)

Before changing =  (1, 2, 3)

TypeError: 'tuple' object does not support item assignment