# Name : Ujjwal Kumar
# Scholar Id : 2322101

In [1]:
import pandas as pd
import numpy as np
import random

# 1. Logistic Regression

In [2]:
x = [random.random()*10 for _ in range(10)]
y = [random.random()*10 for _ in range(10)]
classes = [0, 1]
category = [random.choice(classes) for _ in range(10)]
df_dict = {"X":x, "Y":y, "Actual_Output":category}

In [3]:
df = pd.DataFrame(df_dict)
df

          X         Y  Actual_Output
0  2.745387  3.389921              0
1  1.676306  5.557534              0
2  4.259425  7.502582              0
3  7.519638  4.671727              1
4  7.878535  4.191772              0
5  4.326560  1.136755              0
6  0.911995  2.902847              1
7  1.209792  2.540884              0
8  4.881947  9.741428              0
9  7.477063  8.866205              1

### Formula for Logistic Regression

$$ z = w_0 \cdot x + w_1 \cdot y + b $$

The sigmoid function is given by: $$ sigma(z) = \frac{1}{1 + e^{-z}} $$

In [4]:
def sigmoid(z):
  return 1/1+np.exp(-z)

def output_update_param(y, x1, w1, x2, w2, b):
    alpha = 0.001
    pred  = sigmoid(x1*w1+x2*w2+b)
    w1 = w1+alpha*(y-pred)*pred*(1-pred)*x1
    w2 = w2+alpha*(y-pred)*pred*(1-pred)*x2
    b = b+alpha*(y-pred)*pred*(1-pred)*1
    return [w1, w2, b]

In [5]:
w1, w2, b = 0, 0, 0
weights_final = []
for i in range(10):
    y = df.iloc[i, 2]
    x1 = df.iloc[i, 0]
    x2 = df.iloc[i, 1]
    weights = output_update_param(y, x1, w1, x2, w2, b)
    weights_final.append(weights)

In [6]:
weights_final_df = pd.DataFrame(weights_final, columns=['w1', 'w2', 'b'])
weights_final_df

         w1        w2      b
0  0.010982  0.013560  0.004
1  0.006705  0.022230  0.004
2  0.017038  0.030010  0.004
3  0.015039  0.009343  0.002
4  0.031514  0.016767  0.004
5  0.017306  0.004547  0.004
6  0.001824  0.005806  0.002
7  0.004839  0.010164  0.004
8  0.019528  0.038966  0.004
9  0.014954  0.017732  0.002

In [7]:
df = pd.concat([df, weights_final_df], axis=1)
df

          X         Y  Actual_Output        w1        w2      b
0  2.745387  3.389921              0  0.010982  0.013560  0.004
1  1.676306  5.557534              0  0.006705  0.022230  0.004
2  4.259425  7.502582              0  0.017038  0.030010  0.004
3  7.519638  4.671727              1  0.015039  0.009343  0.002
4  7.878535  4.191772              0  0.031514  0.016767  0.004
5  4.326560  1.136755              0  0.017306  0.004547  0.004
6  0.911995  2.902847              1  0.001824  0.005806  0.002
7  1.209792  2.540884              0  0.004839  0.010164  0.004
8  4.881947  9.741428              0  0.019528  0.038966  0.004
9  7.477063  8.866205              1  0.014954  0.017732  0.002

In [8]:
w1 = weights_final[9][0]
w2 = weights_final[9][1]
b = weights_final[9][2]
print("Final Coefficients")
print("w1 = ",w1,'w2 = ',w2,'b = ',b)

Final Coefficients
w1 =  0.01495412512355389 w2 =  0.017732410942499752 b =  0.002