#### Q1. How do you comment code in Python? What are the different types of comments?**

There are two ways how to comment code in Python.

* Using # for single Line comment

* Using '''  '''For MultiLine comments

In [ ]:
# This is a single line comment
print("Not a comment")

In [ ]:
'''
This
is 
multiline comment
'''
print("Not a comment")

#### Q2. What are variables in Python? How do you declare and assign values to variables?**

Variables can be defined as placeholders for data. They are used to store the values and then use it for later use. In python, variables are declared and values are assigned to them using **=** operator.

In [ ]:
a = 2
#Here a is the variable name and the value 2 is assigned to it.

#### Q3. How do you convert one data type to another in Python?

In Python, one data type can be converted using another data type using **typecasting**

In [ ]:
a = "123"
print(a, type(a))

In [ ]:
#Changing a's type to Int and float
a_int = int(a)
a_float = float(a)
print(a_int, type(a_int))
print(a_float, type(a_float))

In [ ]:
#However we have to be sure that the string values should be numeric in nature for converting to int or float...
#Or else it will throw an error
a = "ABC"
a_int = int(a)
#The above statement will lead to an error

In [ ]:
a = 123

In [ ]:
#Changing a's type to string and float
a_str = str(a)
a_float = float(a)
print(a_str, type(a_str))
print(a_float, type(a_float))

In [ ]:
a = 22/7
a

In [ ]:
#Changing a's type to string and integer
a_str = str(a)
a_int = int(a)
print(a_str, type(a_str))
print(a_int, type(a_int))

In [ ]:
#CHanginf bool variables to other type of variables
bool_no = False
bool_yes = True
print(int(bool_no), int(bool_yes))
print(str(bool_no), str(bool_yes))
print(float(bool_no), float(bool_yes))

#### Q4. How do you write and execute a Python script from the command line?

First we gave to make sure that we are in the same directory where the python script is present. To verify this we can use the command **pwd**.

Then write the following command:

**python filename.py**

and press enter

#### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [3]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
sub_list

[2, 3]

#### Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are defined as the sum of a real and imaginary numbers where imaginary numbers are $\sqrt{-k}$ where k>=0. They are represented using **a+ib** where a and b are real numbers and i=$\sqrt{-1}$

In [6]:
#Representation in python
complex_num = 1+2j
print("Real part of {} = {}".format(complex_num, complex_num.real))
print("Imaginary part of {} = {}".format(complex_num, complex_num.imag))

Real part of (1+2j) = 1.0
Imaginary part of (1+2j) = 2.0

#### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [7]:
age = 25

#### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [8]:
price = 9.99
#This variable belongs to float type
type(price)

float

#### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [9]:
name = "Ujjwal Kumar"
print(name)
#print function is used to print the variables

Ujjwal Kumar

#### Q10. Given the string "Hello, World!", extract the substring "World".

In [10]:
x = "Hello World!"
x[6:len(x)-1]

'World'

#### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [11]:
is_student = True