In [8]:
age = [12,12,13,14,21,24]
sum(age)/len(age)

16.0

In [2]:
import numpy as np

In [4]:
np.mean(age)

16.8

In [5]:
np.median(age)

14.0

In [6]:
from scipy import stats

In [9]:
stats.mode(age)

/tmp/ipykernel_91/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([12]), count=array([2]))

# Covariance and Correlation

In [10]:
import seaborn as sns

In [15]:
df = sns.load_dataset('healthexp')
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

### CoVariance

In [16]:
import numpy as np

In [17]:
np.cov(df.Spending_USD, df.Life_Expectancy)

array([[4.81776066e+06, 4.16680091e+03],
       [4.16680091e+03, 1.07339023e+01]])

In [18]:
df.cov()

/tmp/ipykernel_91/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

### Correlation

In [19]:
df.corr(method='spearman')

/tmp/ipykernel_91/1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [20]:
df.corr(method='pearson')

/tmp/ipykernel_91/1928163937.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

# Measure of Dispersion

In [1]:
ages_lst = [23,43,23,56,74,32,68,98,45,32]
import numpy as np

In [2]:
np.mean(ages_lst)

49.4

In [4]:
var = np.var(ages_lst)
var

541.64

In [6]:
std = np.std(ages_lst)
std

23.273160507331188

In [7]:
import pandas as pd

In [8]:
data = [[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [10]:
df = pd.DataFrame(data, columns=["A", "B", "C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [11]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [12]:
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [13]:
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64